<table class="table">
<tr>Congratulations, signup complete! Please check your email
</tr>
<% @answer.each do |key, value| %>
<tr>
  <td><%= key %></td>
  <td><%= value %></td> 
</tr>
<% end %>
</table>