<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>xConferencing</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container" id="main" style="height:400px;width:400px">
    <div class="panel panel-default" style="height:400px;width:400px;text-align:center">
      <div class="panel-heading">
        <h4 class="panel-title">xConferencing</h4>
      </div>
    <div>
    <div class="panel-body">
    <%= yield %>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>